.btn {
  box-shadow: none;
  background: #eeeeee;
  border: none;
  color: #000;
  font-size: medium;
  border-radius: 2px;
  padding: 6px 16px;
  text-transform: uppercase;
  &.btn-large {
    border-radius: 36px;
  }
  &.btn-success {
    background: #333333;
    color: #fff;
    border-radius: 36px;
  }
  &.btn-primary {
    border-radius: 36px;
  }
}
