.mini-cart {
  background-color: #fff;
  @media (min-width: 1200px) {
  }
  h2 {
    text-align: left;
    font-size: 16px;
    color: #000;
    line-height: 2.5;
  }
  .summary-cart-template-holder {
    min-height: 70px;
    border-right: 1px solid #adadad;
    border-left: 1px solid #adadad;
    .cart {
      ul.cart-items {
        li {
          border: none;
          border-top: none;
        }
      }
    }
  }
  #go-to-cart-button {
    display: block;
    border-right: 1px solid #adadad;
    border-left: 1px solid #adadad;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 100%;
    margin: 0 0 0 0;
    padding: 16px 0;
    text-align: center;
    box-sizing: border-box;
    a {
      background: #eeeeee;
      padding: 8px 16px;
      font-size: 0.875rem;
    }
  }
  .accordion-group {
    .accordion-body {
      .accordion-inner {
        padding: 16px;
      }
    }
  }
  #payment-data-submit {
    &:hover{
      background-color: #3f3f3f;
    }
    i.icon-lock {
      display: none;
    }
    span {
      font-family: 'Nunito', 'Helvetica', sans-serif;
      font-weight: bold;
      font-size: 0;
      line-height: 2;
      padding: 24px 16px;
      &::before {
        font-size: 1rem;
        content: 'Comprar';
        text-transform: uppercase;
      }
    }
  }
  .verification-checkboxes {
    .privacy-policy,
    .terms-and-conditions {
      padding: 8px 4px;

      label {
        display: block;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input[type='checkbox'] {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
          &:checked ~ .checkmark {
            background-color: #ffffff;
          }
        }
        span.label {
          display: inline-block;
          padding: 0;
          font-size: 0.875rem;
          font-weight: normal;
          line-height: 14px;
          color: #000;
          text-shadow: unset;
          white-space: nowrap;
          vertical-align: baseline;
          background-color: unset;
        }
        span.checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 16px;
          width: 16px;
          border: 1px solid #707070;
          &:after {
            content: '';
            position: absolute;
            display: none;
            left: 4px;
            top: 1px;
            width: 4px;
            height: 8px;
            border: solid #000;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
        &:hover input ~ .checkmark {
          background-color: rgb(233, 233, 233);
        }
        input:checked ~ .checkmark:after {
          display: block;
        }
      }
    }
  }
}
